
 <div class="col-sm-3 block--site-location-time">
    <h1 class="title">{{ title }}</h1>
    <p class="description">{{ description }}</p>
    <p class="country"><b>Country</b> - {{ country }}<p>
    <p class="city"><b>City</b> - {{ city }}</p>
    <p class="current-date-time"><b>Current Date Time</b> - {{ current_date_time }}<p>
 </div>